<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="./images/logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Budget Tracker Application" />
    <link rel="apple-touch-icon" href="./images/logo.png" />
    <link rel="manifest" href="./manifest.json" />
    <title>Budget Tracker</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="tracker.js"></script>
</head>

<style>
    .form-group {
        padding-left: 1px;
        padding-bottom: 10px;
    }
    .table-fixed {
        width: 100%;
        background-color: #f3f3f3;
    }
    .table-fixed tbody {
        height: 200px;
        overflow-y: auto;
        width: 100%;
    }
    .table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
        display: flow-root;
    }
    .table-fixed tbody td {
        float: left;
    }
    .table-fixed thead tr th {
        float: left;
        background-color: #f39c12;
        border-color: #e67e22;
    }
    .remove-gutters {
        padding-left: 0;
        padding-right: 0;
    }
</style>

<body>

<!--Angular HTML-->
<div ng-app="myApp" ng-controller="appCtrl" ng-init="my_app_init()">
    <div class="container-fluid" style="margin-top: 1%;">

        <nav class="navbar navbar-dark bg-dark" style="margin-bottom: 2%">
            <span class="col-8" style="text-align: right;font-weight: 600; color: white">
                <a ng-href="{{redirectToPage('tracker.html')}}" style="color:white;">Interest Tracker</a>
            </span>
        </nav>

        <div class="accordion" id="lendForms">
            <div class="card">
                <div class="card-header" id="lendForm">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Add Lent Details
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="lendForm" data-parent="#inputForms">
                    <div class="card-body">
                        <form class="form-inline col-12">
                            <div class="form-group col-6">
                                <input type="text" class="form-control" ng-model="lent.loanName"
                                       placeholder="Name">
                            </div>
                            <div class="form-group col-6">
                                <input type="date" class="form-control" ng-model="lent.loanDate"
                                       placeholder="Date">
                            </div>
                            <div class="form-group col-6">
                                <input type="text" class="form-control" ng-model="lent.loanAmount"
                                       placeholder="Amount">
                            </div>
                            <div class="form-group col-6">
                                <input type="text" class="form-control" ng-model="lent.interestInRs"
                                       placeholder="Interest in Rs">
                            </div>
                            <div class="form-group col-6">
                                <input type="text" class="form-control" ng-model="lent.interestInperc"
                                       placeholder="Interest in %">
                            </div>
                            <div class="form-group col-6">
                                <input type="text" class="form-control" ng-model="lent.source"
                                       placeholder="Enter Source">
                            </div>
                            <div class="form-group col-12">
                                <button type="submit" style="margin-left: 1%;" class="btn btn-primary col-12"
                                        ng-click="AddLendDetails()">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="paymentForm">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Add Payments
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="paymentForm" data-parent="#inputForms">
                    <div class="card-body">
                        <form class="form-inline col-12">
                            <div class="form-group col-12 dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{filter.selectedLend ? filter.selectedLend.loanName : 'Select Lend'}}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" style="cursor: pointer;" ng-repeat="lendSummary in lendSummaryListFiltered"
                                       ng-class="{'active' : filter.selectedLend.id == lendSummary.id}"
                                       ng-click="filter.selectedLend = lendSummary">{{lendSummary.loanName}}</a>
                                </div>
                            </div>
                            <div class="form-group col-6">
                                <input type="date" class="form-control" ng-model="payment.date"
                                       placeholder="Select Date">
                            </div>
                            <div class="form-group col-6">
                                <input type="text" class="form-control" ng-model="payment.principle"
                                       placeholder="Principle">
                            </div>
                            <div class="form-group col-6">
                                <input type="text" class="form-control" ng-model="payment.interest"
                                       placeholder="Interest">
                            </div>
                            <div class="form-group col-6">
                                <input type="text" class="form-control" ng-model="payment.description"
                                       placeholder="Description">
                            </div>
                            <div class="form-group col-6">
                                <button type="submit" style="margin-left: 1%;" class="btn btn-primary col-12"
                                        ng-click="addLendPayment(filter.selectedLend, payment)">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion" id="inputForms">
            <div class="card">
                <div class="card-header" id="addSourceForm">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Add KeyWord Filters
                        </button>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="addSourceForm" data-parent="#inputForms">
                    <div class="card-body">
                        <form class="form-inline col-12" autocomplete="on">
                            <div class="form-group col-8">
                                <input type="text" class="form-control" ng-model="filterKeyWord"
                                    placeholder="Enter Key Word">
                            </div>
                            <div class="form-group col-4">
                                <button type="submit" class="btn btn-primary col-12"
                                    style="padding: 4px 1px 4px 1px;"
                                    ng-click="addLendFilterKeyWords(filterKeyWord)">Add</button>
                            </div>
                        </form>
                        <ul>
                            <li ng-repeat="keyWord in analyticsFilterKeyWords">
                                {{keyWord}} <span style="padding-left: 5%"
                                    ng-click="deleteLendFilterKeyWords(keyWord)">x</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion" id="inputForms">
            <div class="card">
                <div class="card-header" id="calculator">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            ng-click="resetInterestCalc()"
                            data-target="#collapseCalcOne" aria-expanded="false" aria-controls="collapseCalcOne">
                            Interest Calculator
                        </button>
                    </h2>
                </div>
                <div id="collapseCalcOne" class="collapse" aria-labelledby="calculator" data-parent="#inputForms">
                    <div class="card-body">
                        <form class="form-inline col-12">
                            <div class="form-group col-12 dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{filter.selectedLend ? filter.selectedLend.loanName : 'Select Lend'}}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" style="cursor: pointer;" ng-repeat="lendSummary in lendSummaryListFiltered"
                                       ng-class="{'active' : filter.selectedLend.id == lendSummary.id}"
                                       ng-click="filter.selectedLend = lendSummary">{{lendSummary.loanName}}</a>
                                </div>
                            </div>
                            <div class="form-group col-6">
                                <input type="date" class="form-control" ng-model="interestCalculator.endDate"
                                       placeholder="Select Date">
                            </div>
                            <div class="form-group col-6">
                                <button type="submit" style="margin-left: 2%;" class="btn btn-primary col-10"
                                        ng-click="calculateByInterestCalculatorForLoan(filter.selectedLend, interestCalculator.endDate)">Calculate</button>
                            </div>
                        </form>

                        <div class="row" style="margin: 1%">
                            <span class="col-10" style="font-weight: 600;margin-bottom: 1%;text-align: left;font-size: 14px;"> Amount : {{interestCalculator.loanRemaining}}</span>
                            <span class="col-10" style="font-weight: 600;margin-bottom: 1%;text-align: left;font-size: 14px;"> From Date : {{formatDate(interestCalculator.lastInterestPaid)}}</span>
                            <span class="col-10" style="font-weight: 600;margin-bottom: 1%;text-align: left;font-size: 14px;"> To Date : {{formatDate(interestCalculator.endDate)}}</span>
                            <span class="col-10" style="font-weight: 600;margin-bottom: 1%;text-align: left;font-size: 14px;"> Interest in Rs : {{interestCalculator.interestInRs}}</span>
                            <span class="col-10" style="font-weight: 600;margin-bottom: 1%;text-align: left;font-size: 14px;"> Interest in Percent : {{interestCalculator.interestInperc}}</span>

                            <span class="col-10" style="font-weight: 600;margin-bottom: 1%;text-align: left;font-size: 14px;"> Interest per month : {{interestCalculator.interestPerMonth}}</span>
                            <span class="col-10" style="font-weight: 600;margin-bottom: 1%;text-align: left;font-size: 14px;"> Interest per day : {{interestCalculator.interestPerDay}}</span>

                            <span class="col-10" style="font-weight: 600;margin-bottom: 1%;text-align: left;font-size: 14px;"> Interest : {{interestCalculator.totalInterest}} ({{interestCalculator.totalDays}})</span>
                            <span class="col-10" style="font-weight: 600;margin-bottom: 1%;text-align: left;font-size: 14px;"> Total Amount : {{interestCalculator.totalAmount}}</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="accordion" id="inputForms">
            <div class="card">
                <div class="card-header" id="calculator">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            ng-click="resetInterestCalc()"
                            data-target="#collapseCalcTwo" aria-expanded="false" aria-controls="collapseCalcTwo">
                            Custom Interest Calculator
                        </button>
                    </h2>
                </div>
                <div id="collapseCalcTwo" class="collapse" aria-labelledby="calculator" data-parent="#inputForms">
                    <div class="card-body">
                        <form class="form-inline col-12">
                            <div class="form-group col-6">
                                <input type="text" class="form-control" ng-model="interestCalculator.loanRemaining"
                                       placeholder="Amount">
                            </div>
                            <div class="form-group col-6">
                                <input type="text" class="form-control" ng-model="interestCalculator.interestInRs"
                                       placeholder="Interest in Rs">
                            </div>
                            <div class="form-group col-6">
                                <input type="text" class="form-control" ng-model="interestCalculator.interestInperc"
                                       placeholder="Interest in %">
                            </div>
                            <div class="form-group col-6">
                                <input type="date" class="form-control" ng-model="interestCalculator.lastInterestPaid"
                                       placeholder="Select Start Date">
                            </div>
                            <div class="form-group col-6">
                                <input type="date" class="form-control" ng-model="interestCalculator.endDate"
                                       placeholder="Select End Date">
                            </div>
                            <div class="form-group col-6">
                                <button type="submit" style="margin-left: 2%;" class="btn btn-primary col-10"
                                        ng-click="calculateByInterestCalculatorForLoan(interestCalculator, interestCalculator.endDate)">Calculate</button>
                            </div>
                        </form>

                        <div class="row" style="margin: 1%">
                            <span class="col-10" style="font-weight: 600;margin-bottom: 1%;text-align: left;font-size: 14px;"> Amount : {{interestCalculator.loanRemaining}}</span>
                            <span class="col-10" style="font-weight: 600;margin-bottom: 1%;text-align: left;font-size: 14px;"> From Date : {{formatDate(interestCalculator.lastInterestPaid)}}</span>
                            <span class="col-10" style="font-weight: 600;margin-bottom: 1%;text-align: left;font-size: 14px;"> To Date : {{formatDate(interestCalculator.endDate)}}</span>
                            
                            <span class="col-10" style="font-weight: 600;margin-bottom: 1%;text-align: left;font-size: 14px;"> Interest in Rs : {{interestCalculator.interestInRs}}</span>
                            <span class="col-10" style="font-weight: 600;margin-bottom: 1%;text-align: left;font-size: 14px;"> Interest in Percent : {{interestCalculator.interestInperc}}</span>

                            <span class="col-10" style="font-weight: 600;margin-bottom: 1%;text-align: left;font-size: 14px;"> Interest per month : {{interestCalculator.interestPerMonth}}</span>
                            <span class="col-10" style="font-weight: 600;margin-bottom: 1%;text-align: left;font-size: 14px;"> Interest per day : {{interestCalculator.interestPerDay}}</span>

                            <span class="col-10" style="font-weight: 600;margin-bottom: 1%;text-align: left;font-size: 14px;"> Interest : {{interestCalculator.totalInterest}} ({{interestCalculator.totalDays}})</span>
                            <span class="col-10" style="font-weight: 600;margin-bottom: 1%;text-align: left;font-size: 14px;"> Total Amount : {{interestCalculator.totalAmount}}</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        

        <div class="row" style="margin: 1%">
            <span class="col-12" style="text-align: center; font-weight: 600;">Summary</span>
            <table class="table table-striped">
                <tbody>
                <tr>
                    <td>Total Lent</td>
                    <td>{{overallLendSummary.totalLent}}</td>
                </tr>
                <tr>
                    <td>Remaining Principal</td>
                    <td>{{overallLendSummary.totalPrincipal}}</td>
                </tr>
                <tr>
                    <td>Remaining Interest</td>
                    <td>{{overallLendSummary.totalInterest}}</td>
                </tr>
                <tr>
                    <td>Remaining total Amount</td>
                    <td>{{overallLendSummary.totalAmount}}</td>
                </tr>
                <tr>
                    <td>Total Principal Received</td>
                    <td>{{overallLendSummary.receivedPrincipal}}</td>
                </tr>
                <tr>
                    <td>Total Interest Received</td>
                    <td>{{overallLendSummary.receivedInterest}}</td>
                </tr>
                <tr>
                    <td>Total Received Amount</td>
                    <td>{{overallLendSummary.receivedAmount}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="accordion" id="inputForms">
            <div class="card">
                <div class="card-header" id="addSourceForm">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            ng-click="fetchReceivedLendPayments()"
                            data-target="#collapseReceivedPayment" aria-expanded="false" aria-controls="collapseReceivedPayment">
                            Received Payments
                        </button>
                    </h2>
                </div>
                <div id="collapseReceivedPayment" class="collapse" aria-labelledby="addSourceForm" data-parent="#inputForms">
                    <div class="card-body">
                        <div class="row" ng-if="receivedLendPayments.length > 0">
                            <table class="table table-fixed col-12" style="margin-top:1%">
                                <thead>
                                    <tr>
                                        <th class="col-4" style="text-align: left;padding-left: 2%;">Loan Name</th>
                                        <th class="col-4" style="text-align: left;padding-left: 2%;">Received</th>
                                        <th class="col-4" style="text-align: left;padding-left: 2%;">Remaining</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="payment in receivedLendPayments">
                                        <td class="col-4">{{payment.loanName}}</td>
                                        <td class="col-4">{{payment.paidAmount}}</td>
                                        <td class="col-4">{{payment.remainingAmount}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" style="margin: 1%; margin-bottom: -7%;">
            <div class="form-group col-9 dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{filter.selectedDisplayLend ? filter.selectedDisplayLend.loanName : 'Select Lend'}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" style="cursor: pointer;" ng-repeat="lendSummary in lendSummaryListFiltered"
                       ng-class="{'active' : filter.selectedDisplayLend.id == lendSummary.id}"
                       ng-click="filter.selectedDisplayLend = lendSummary">{{lendSummary.loanName}}</a>
                </div>
            </div>
        </div>

        <div class="row" style="margin: 1%;">
            <div class="form-group col-12" style="display: inline-flex;">
                <div class="input-group-text col-5" style="margin-right: 1%;">
                    <input type="checkbox" ng-value="filter.pendingLends"
                           ng-change="fetchLendDetails()"
                           ng-model="filter.pendingLends">
                    <span style="padding-left: 1%;">Pending</span>
                </div>
                <div class="input-group-text col-5">
                    <input type="checkbox" ng-value = "filter.completedLends"
                    ng-change="fetchLendDetails()"
                    ng-model="filter.completedLends">
                    <span style="padding-left: 1%;">Completed</span>
                </div>
            </div>
        </div>


         <div class="row" style="margin: 1%; margin-top: 4%" id="lendSummary">

            <div class="row" ng-if="filter.selectedDisplayLend">
                <div class="col-8" style="font-weight: 600;margin-top: 1%;">{{filter.selectedDisplayLend.loanName}}</div>
                <div class="col-4" style="font-weight: 600;margin-top: 1%;">
                    <button type="button" style="padding: 1px 4px 1px 4px;font-size: 14px;background-color: red;font-weight: 600" class="btn btn-primary"
                    ng-click="deleteLendDetails(filter.selectedDisplayLend)">Delete Lend</button>
                </div>
                <br>
                <span class="col-10" style="font-weight: 600;margin-bottom: 1%;text-align: left;font-size: 14px;"> Amount : {{filter.selectedDisplayLend.loanAmount}}</span>
                <span class="col-10" style="font-weight: 600;margin-bottom: 1%;text-align: left;font-size: 14px;"> Date : {{formatDate(filter.selectedDisplayLend.loanDate)}}</span>
                <span class="col-10" style="font-weight: 600;margin-bottom: 1%;text-align: left;font-size: 14px;"> Interest in Rs : {{filter.selectedDisplayLend.interestInRs}}</span>
                <span class="col-10" style="font-weight: 600;margin-bottom: 1%;text-align: left;font-size: 14px;"> Interest in Percent : {{filter.selectedDisplayLend.interestInperc}}</span>

                <span class="col-10" ng-if="filter.selectedDisplayLend.loanRemaining > 0"
                      style="font-weight: 600;margin-bottom: 1%;text-align: left;font-size: 14px;"> Interest per month : {{getInterestPerMonth(filter.selectedDisplayLend)}}</span>
                <span class="col-10" ng-if="filter.selectedDisplayLend.loanRemaining"
                      style="font-weight: 600;margin-bottom: 1%;text-align: left;font-size: 14px;"> Interest per day : {{getInterestPerDay(filter.selectedDisplayLend)}}</span>

                <span class="col-10" ng-if="filter.selectedDisplayLend.loanRemaining > 0"
                      style="font-weight: 600;margin-bottom: 1%;text-align: left;font-size: 14px;"> Remaining Amount : {{filter.selectedDisplayLend.loanRemaining}}</span>
                <span class="col-10" ng-if="filter.selectedDisplayLend.loanRemaining > 0"
                      style="font-weight: 600;margin-bottom: 1%;text-align: left;font-size: 14px;"> Interest calculated: {{formatDate(filter.selectedDisplayLend.lastInterestPaid)}} to {{getInterestEndDate()}}</span>
                <span class="col-10" ng-if="filter.selectedDisplayLend.loanRemaining > 0"
                      style="font-weight: 600;margin-bottom: 1%;text-align: left;font-size: 14px;"> Interest : {{calculateInterestByMonthAndDate(filter.selectedDisplayLend)}} ({{getCalculatedDisplayMonthsAndDays(filter.selectedDisplayLend)}})</span>
                <span class="col-10" ng-if="filter.selectedDisplayLend.loanRemaining > 0"
                      style="font-weight: 600;margin-bottom: 1%;text-align: left;font-size: 14px;"> Total Remaining Amount : {{filter.selectedDisplayLend.loanRemaining + calculateInterestByMonthAndDate(filter.selectedDisplayLend)}}</span>

                
                <br>
                <div class="col-12" style="text-align: center; font-weight: 600;margin-top: 1%;">Payments</div>
                <table class="table table-fixed col-12" style="margin-top:1%">
                    <thead>
                        <tr>
                            <th class="col-2" style="text-align: left;padding-left: 0.6%;">Date</th>
                            <th class="col-3" style="text-align: left;padding-left: 2%;">Description</th>
                            <th class="col-2" style="text-align: left;padding-left: 2%;">Interest</th>
                            <th class="col-3" style="text-align: left;padding-left: 2%;">Principle</th>
                            <th class="col-2">Actn</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="payment in filter.selectedDisplayLend.payments | orderBy: 'date':true">
                            <td class="col-2" style="padding-left: 0.6%">{{formatDate(payment.date)}}</td>
                            <td class="col-3">{{payment.description}}</td>
                            <td class="col-2">{{payment.interest}}</td>
                            <td class="col-3">{{payment.principle}}</td>
                            <td class="col-2">
                                <button type="button" style="padding: 1px 4px 1px 4px;font-size: 15px;background-color: red;font-weight: 600" class="btn btn-primary"
                                        ng-click="deleteLendPayment(filter.selectedDisplayLend, payment)">Del</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            
            </div>
        </div>


        <!-- Show Lend Details for Multiple -->
        <!-- <div class="row" style="margin: 1%; margin-top: 4%" id="lendSummary">

            <div class="row" ng-repeat="lendSummary in lendSummaryList | orderBy: 'sortKey':true" ng-if="lendSummaryList.length > 0">
                <div class="col-8" style="text-align: center; font-weight: 600;margin-top: 1%;">{{lendSummary.loanName}}</div>
                <div class="col-4" style="font-weight: 600;margin-top: 1%;">
                    <button type="button" style="padding: 1px 4px 1px 4px;font-size: 14px;background-color: red;font-weight: 600" class="btn btn-primary"
                    ng-click="deleteLendDetails(lendSummary)">Delete Lend</button>
                </div>
                <br>
                <span class="col-10" style="font-weight: 600;margin-bottom: 1%;text-align: left;font-size: 14px;"> Amount : {{lendSummary.loanAmount}}</span>
                <span class="col-10" style="font-weight: 600;margin-bottom: 1%;text-align: left;font-size: 14px;"> Date : {{formatDate(lendSummary.loanDate)}}</span>
                <span class="col-10" style="font-weight: 600;margin-bottom: 1%;text-align: left;font-size: 14px;"> Interest in Rs : {{lendSummary.interestInRs}}</span>
                <span class="col-10" style="font-weight: 600;margin-bottom: 1%;text-align: left;font-size: 14px;"> Interest in Percent : {{lendSummary.interestInperc}}</span>
                <span class="col-10" style="font-weight: 600;margin-bottom: 1%;text-align: left;font-size: 14px;"> Remaining Amount : {{lendSummary.loanRemaining}}</span>
                <span class="col-10" style="font-weight: 600;margin-bottom: 1%;text-align: left;font-size: 14px;"> Interest calculated from : {{formatDate(lendSummary.lastInterestPaid)}}</span>
                <span class="col-10" style="font-weight: 600;margin-bottom: 1%;text-align: left;font-size: 14px;"> Interest : {{calculateInterest(lendSummary)}}</span>
                
                <br>
                <div class="col-12" style="text-align: center; font-weight: 600;margin-top: 1%;">Payments</div>
                <table class="table table-fixed col-12" style="margin-top:1%">
                    <thead>
                        <tr>
                            <th class="col-2" style="text-align: left;padding-left: 0.6%;">Date</th>
                            <th class="col-3" style="text-align: left;padding-left: 2%;">Description</th>
                            <th class="col-2" style="text-align: left;padding-left: 2%;">Interest</th>
                            <th class="col-2" style="text-align: left;padding-left: 2%;">Principle</th>
                            <th class="col-2">Actn</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="payment in lendSummary.payments | orderBy: 'date':true">
                            <td class="col-3" style="padding-left: 0.6%">{{formatDate(payment.date)}}</td>
                            <td class="col-3">{{payment.description}}</td>
                            <td class="col-2">{{payment.interest}}</td>
                            <td class="col-2">{{payment.principle}}</td>
                            <td class="col-2">
                                <button type="button" style="padding: 1px 4px 1px 4px;font-size: 15px;background-color: red;font-weight: 600" class="btn btn-primary"
                                        ng-click="deleteLendPayment(lendSummary, payment)">Del</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            
            </div>
        </div> -->



    </div>
</div>

<script>
    if ("serviceWorker" in navigator) {
        window.addEventListener("load", function () {
            navigator.serviceWorker
                .register("./serviceworker.js")
                .then(function (reg) {
                    console.log("Success: ", reg.scope);
                })
                .catch(function (err) {
                    console.log("Failure: ", err);
                });
        });
    }
</script>

</body>

</html>